<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>IniciarSesión</servlet-name>
        <servlet-class>Servlet.IniciarSesión</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuarios</servlet-name>
        <servlet-class>Servlet.RegistrarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudProductos</servlet-name>
        <servlet-class>Servlet.CrudProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudClientes</servlet-name>
        <servlet-class>Servlet.CrudClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RealizarCompra</servlet-name>
        <servlet-class>Servlet.RealizarCompra</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesión</servlet-name>
        <url-pattern>/iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuarios</servlet-name>
        <url-pattern>/nuevousuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudProductos</servlet-name>
        <url-pattern>/CrudProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudClientes</servlet-name>
        <url-pattern>/CrudClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RealizarCompra</servlet-name>
        <url-pattern>/RealizarCompra</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
